
Machine Learning/Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow Notes.md
Machine Learning/Hands-on Machine Learning with Scikit-Learn, Keras, and TensorFlow (Aurélien Géron) (Z-Library).pdf
Artificial Intelligence A Modern Approach (Dr. Peter Norvig , Stuart Russell) (Z-Library).pdf